.header-reduced {
  --header_height: 80px; }

header {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  height: var(--header_height);
  color: white;
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s ease height; }
  header > div {
    width: calc(100% - var(--content-padding));
    max-width: var(--content-size);
    height: 52px;
    display: flex;
    align-items: center;
    overflow: hidden; }
  header > div svg {
    fill: white;
    height: 100%;
    width: auto;
    flex: none; }
  header ul {
    display: flex;
    column-gap: 40px;
    font-size: 1.1875em; }
  header li {
    list-style: none; }
  header .register-btn {
    font-size: 1.1875em;
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 151px;
    height: 52px;
    background: #292929;
    border-radius: 31px; }
  @media only screen and (max-width: 800px) {
    header {
      transition: none; } }
