body {
  font-family: Arial;
  color: black;
  background: white;
  transition: font-size .5s ease; }
  @media only screen and (max-width: 1200px) {
    body {
      font-size: 90%; } }
  @media only screen and (max-width: 1100px) {
    body {
      font-size: 80%; } }

#page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #page:before {
    position: absolute;
    z-index: -1;
    content: '';
    width: 100%;
    height: calc(100vh - 150px);
    max-height: 788px;
    background: var(--background); }
