main
    width: 100%
    margin-top: var(--header_height)

.full-width
    width: 100%
    display: flex
    flex-direction: column
    align-items: center

.content-width
    width: 100%
    max-width: var(--content-size)

.content-width.padding
    width: calc(100% - var(--content-padding))

section
    position: relative
    background: white
    border-radius: 30px
    box-shadow: 50px 50px 99px #11111129
    h1
        font-size: 3.125em
        font-weight: bold
        margin-bottom: 0
    h2
        font-size: 2.375em
        color: #8d8d8d
    h3
        font-size: 2em
        color: #8d8d8d
    h3.title-effect
        color: black
        display: flex
        align-items: center
        justify-content: center
        &::before
            content: attr(data-text)
            position: absolute
            transform: scale(2)
            opacity: .1

    p
        font-size: 1.4375em
        line-height: 2.375em


.sections.top
    height: calc(100vh - 159px + 30px)
    max-height: 850px
    padding: 7.5em
    .grid
        position: relative
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 20px
        .arrow
            position: absolute
            top: 50%
            font-size: 50px
        .arrow.left
            left: -20px
            transform: translateX(-100%)
        .arrow.right
            right: -20px
            transform: translateX(100%)
    .left
        display: flex
        flex-direction: column
        .button
            margin-top: auto
            padding: 20px 40px
            font-size: 24px
            font-weight: bold
            color: white
            background: var(--primary-color)
            border-radius: 16px
    @media only screen and (max-width: 800px)
        max-height: unset
        height: unset
        min-height: calc(100vh - 159px + 30px)
        min-height: calc(100vh - var(--header_height) + 30px)
        padding: 20px 30px
        font-size: 65%
        .grid
            grid-template-columns: 1fr

.sections.about-us
    padding: 7.5em
    .grid
        position: relative
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 20px
    .about-us
        display: flex
        align-items: center
        justify-content: center
        .socials
            margin-left: 50px
    .left
        display: flex
        flex-direction: column
    p
        font-size: 1.1875em
        line-height: 2.375em
    @media only screen and (max-width: 800px)
        max-height: unset
        height: unset
        min-height: calc(100vh - 159px + 30px)
        min-height: calc(100vh - var(--header_height) + 30px)
        padding: 20px 30px
        font-size: 65%
        .grid
            grid-template-columns: 1fr